<template>
  <button :class="[
          colorCalc,
          {
            'button__disabled': disabled,
            'button__text': text,
            'button__outlined': outlined,
            'button__prepend-icon': iconName !== '',
            'button__icon': icon,
            'button__icon__mini': mini,
          }]"
          :tabindex="tabindex"
          :disabled="disabled"
          @click="$emit('click', $event)"
  >
    <j-icon :name="icon" class="icon__button" v-if="iconName !== ''"/>
    <slot/>
    <div class="ripple" @click="onButtonClick">
      <span class="ripple__circle"></span>
    </div>
  </button>
</template>

<script>
// TODO : voir pour utiliser les variables CSS pour l'effet de click comme dans les éléments list
// TODO : voir pour l'effet de hauteur en theme dark

import colorMixin from '../../Mixins/colorMixin'
import JIcon from './JIcon'

export default {
  name: 'JButton',
  components: { JIcon },
  mixins: [colorMixin],

  props: {
    disabled: {
      required: false,
      type: Boolean,
      default: false,
    },
    icon: {
      required: false,
      type: Boolean,
      default: false,
    },
    iconName: {
      required: false,
      type: String,
      default: '',
    },
    mini: {
      required: false,
      type: Boolean,
      default: false,
    },
    tabindex: {
      required: false,
      type: Number,
      default: 1,
    },
    text: {
      required: false,
      type: Boolean,
      default: false,
    },
    outlined: {
      required: false,
      type: Boolean,
      default: false,
    },
  },

  computed: {
    colorCalc () {
      return (this.text || this.outlined) ? `${this.color}__text` : this.color
    },
  },

  methods: {
    onButtonClick (event) {
      if (!this.disabled) {
        const ripple = this.$el.querySelector('.ripple')
        if (ripple.classList.contains('is-active')) ripple.classList.remove('is-active')

        const origin = {
          x: event.clientX - ripple.parentElement.offsetLeft,
          y: event.clientY - ripple.parentElement.offsetTop,
        }

        let circle = ripple.querySelector('.ripple__circle')
        if (circle !== null) {
          circle.style.top = `${origin.y}px`
          circle.style.left = `${origin.x}px`
          ripple.classList.add('is-active')

          circle.addEventListener('animationend', () => {
            ripple.classList.remove('is-active')
          })
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/scss/variables";

  button {
    align-items: center;
    border: none;
    border-radius: 4px;
    box-shadow: $el--2;
    box-sizing: border-box;
    cursor: auto;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    min-width: 64px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
    transition: box-shadow cubic-bezier(.4, 0, .2, 1) 280ms;

    &:hover, &:focus {
      box-shadow: $el--4;

      &:before {
        border-radius: 4px;
        opacity: .1;
      }
    }

    &:active {
      box-shadow: $el--8;
    }

    &:not(.button__disabled) {
      cursor: pointer;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: currentColor;
      opacity: 0;
      transition: opacity cubic-bezier(.4, 0, .2, 1) 100ms;
    }

    &.button__prepend-icon {
      padding: 0 16px 0 12px;

      i {
        margin-right: 8px;
      }
    }

    &.button__disabled {
      background-color: #cccccc;
      cursor: default;
      box-shadow: none;
      color: rgba(0, 0, 0, 0.38);

      &:hover::before {
        opacity: 0;
      }
    }

    &.button__outlined, &.button__text {
      background-color: white;
      box-shadow: none;
    }

    &.button__outlined {
      border: 1px solid currentColor;
    }

    &.button__text {
      padding: 0 8px;
    }

    &.button__icon {
      background: none;
      box-shadow: none;
      min-width: 56px;
      width: 56px;
      height: 56px;
      padding: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: currentColor;

      &:before {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      .ripple {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      i {
        font-size: 24px;
        width: 24px;
        line-height: 24px;
        height: 24px;
      }

      &.button__icon__mini {
        width: 40px;
        min-width: 40px;
        height: 40px;

        &:before {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .ripple {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }

  // Dark
  .app__theme__dark {
    button {
      box-shadow: none;

      &:before {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.07);
      }

      &:hover:before {
        background-color: rgba(255, 255, 255, 0.09);
      }

      &:active:before {
        background-color: rgba(255, 255, 255, 0.12);
      }

      .ripple {
        color: white;
      }

      &.button__outlined, &.button__text {
        background: none;
        border-color: rgba(255, 255, 255, 0.38);
      }

      &.button__icon {
        &:before {
          background-color: rgba(255, 255, 255, 0);
        }
      }
    }
  }

  // Ripple effect
  @keyframes a-ripple {
    0% {
      opacity: 0;
      width: 65%;
      padding-bottom: 65%;
    }
    25% {
      opacity: 0.18;
    }
    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
    }
  }

  button {
    .ripple {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: transparent;
      border-radius: 4px;
      z-index: 2;

      .ripple__circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: currentColor;
        z-index: 1;
      }

      &.is-active .ripple__circle {
        animation: a-ripple cubic-bezier(.4, 0, .2, 1) 400ms;
      }
    }
  }
</style>
