<template>
  <hr/>
</template>

<script>
export default {
  name: 'JDivider',
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/scss/variables";

  hr {
    border-color: $blackDivider;
    width: 100%;
    box-sizing: border-box;
  }

  .app__theme__dark {
    hr {
      border-color: $whiteDivider;
    }
  }
</style>
