<template>
  <i class="mdi"
     :class="[iconName, { 'icon__header': header }]"
  />
</template>

<script>
export default {
  name: 'JIcon',

  props: {
    header: {
      required: false,
      type: Boolean,
      default: false,
    },
    name: {
      required: true,
      type: String,
    },
  },

  computed: {
    iconName () {
      return `mdi-${this.name}`
    },
  },
}
</script>

<style lang="scss" scoped>
  i {
    color: currentColor;

    &.icon__header {
      font-size: 24px;
    }

    &.icon__button {
      font-size: 18px;
    }
  }
</style>
