// Timing function
$timing__accelerated-easing: cubic-bezier(0.4, 0.0, 1, 1);
$timing__decelerated-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
$timing__standard: cubic-bezier(0.4, 0, 0.2, 1);

// Timing duration
$timing-duration__big__open: 300ms;
$timing-duration__big__close: 250ms;
$timing-duration__medium__open: 250ms;
$timing-duration__medium__close: 200ms;
$timing-duration__slowly: 500ms;
$timing-duration__small: 100ms;
