$blackPrimary: rgba(0, 0, 0, 0.87);
$blackSecondary: rgba(0, 0, 0, 0.60);
$blackTernary: rgba(0, 0, 0, 0.38);
$blackDivider: rgba(0, 0, 0, 0.12);

$backgroundDarkBlack: #121212;

$whitePrimary: #ffffff;
$whiteDivider: rgba(255, 255, 255, 0.38);
