@function calculSizePxToRem ($sizeInPixel) {
  @return #{$sizeInPixel / 16}rem;
}

// Elements

$navigationDrawer__width: 256px;
$navigationDrawer__padding: 16px;
$navigationDrawer__header__height: 64px;
$navigationDrawer__header__title__height: 36px;
$navigationDrawer__header__title__fontSize: 20px;
$navigationDrawer__header__subtitle__height: 20px;
$navigationDrawer__header__subtitle__fontSize: 13px;
$navigationDrawer__header__icon__size: 40px;
