<template>
  <div id="app" :class="{ app__theme__dark: dark }">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'AppTemplate',

  props: {
    dark: {
      required: true,
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    /**
     * @param {MutationObserver} observer.appBar
     * @param {MutationObserver} observer.body
     */
    observers: {
      appBar: null,
      body: null,
    },
  }),

  /**
   * Problème de départ : lorsqu'on utilise la méthode translate en CSS, le fixed perd son efficacité pour le top 0.
   * Utilisé pour écouter si le body a ou non la classe "app__drawer__translate".
   * Si c'est le cas :
   * Place alors l'App bar et le navigation drawer en haut relativement au scroll actuel.
   */
  mounted () {
    const appBar = document.querySelector('#j__app-bar')
    const navigationDrawer = document.querySelector('#j__navigation-drawer')

    const appBarProminent = new RegExp(/app-bar__prominent/)
    const appBarToTop = new RegExp(/app-bar__to-top/)
    const appBarFixed = new RegExp(/app-bar__fixed/)

    this.observers.body = new MutationObserver(mutations => {
      if (mutations[0].target.className === 'app__drawer__translate') {
        const top = `${window.scrollY}px`
        appBar.style.top = top
        navigationDrawer.style.top = top
        document.body.removeAttribute('style')
        document.body.style.overflow = 'hidden'
      } else {
        setTimeout(() => {
          appBar.removeAttribute('style')
          navigationDrawer.removeAttribute('style')
        }, 200)
      }
    })

    // Observer pour adapter la marge du body en fonction de la taille de la app bar
    this.observers.appBar = new MutationObserver(mutations => {
      if (mutations[0].target.className.match(appBarToTop) && mutations[0].target.className.match(appBarProminent)) {
        document.body.style.marginTop = '128px'
      } else if (mutations[0].target.className.match(appBarFixed)) {
        document.body.style.marginTop = '64px'
      }
    })

    if (appBar.className.match(appBarToTop) && appBar.className.match(appBarProminent)) {
      document.body.style.marginTop = '128px'
    } else if (appBar.className.match(appBarFixed)) {
      document.body.style.marginTop = '64px'
    }

    this.observers.body.observe(document.body, { attributes: true, attributeFilter: ['class'] })
    this.observers.appBar.observe(document.querySelector('#j__app-bar'), {
      attributes: true,
      attributeFilter: ['class'],
    })
  },

  beforeDestroy () {
    this.observers.body.disconnect()
    this.observers.appBar.disconnect()
  },
}
</script>

<style lang="scss">
  @import "../../../../assets/scss/variables";

  html {
    font-size: 16px;

    body {
      color: $blackPrimary;
      margin: 0;
      transition: transform $timing__standard $timing-duration__medium__close, margin-top $timing__standard $timing-duration__slowly;

      &.app__drawer__translate {
        transform: translateX($navigationDrawer__width);
        transition: transform $timing__standard $timing-duration__medium__open;
      }

      #app.app__theme__dark {
        background-color: #121212;

      }
    }
  }
</style>
