<template>
  <h3>
    <slot/>
  </h3>
</template>

<script>
export default {
  name: 'NavigationDrawerSectionLabel',
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  h3 {
    height: $navigationDrawer__header__subtitle__height;
    color: $blackSecondary;
    font-size: $navigationDrawer__header__subtitle__fontSize;
    margin: 0;
    display: flex;
    align-items: flex-end;
    padding: 0 $navigationDrawer__padding;
  }

  .app__theme__dark {
    h3 {
      color: $whitePrimary;
    }
  }
</style>
