<template>
  <h2>
    <slot/>
  </h2>
</template>

<script>
export default {
  name: 'NavigationDrawerHeaderTitle',
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  h2 {
    height: $navigationDrawer__header__title__height;
    color: $blackPrimary;
    font-size: $navigationDrawer__header__title__fontSize;
    margin: 0;
    display: flex;
    align-items: flex-end;
  }

  .app__theme__dark {
    h2 {
      color: $whitePrimary;
    }
  }
</style>
