<template>
  <img :src="src" :alt="description"/>
</template>

<script>
export default {
  name: 'NavigationDrawerHeaderIcon',

  props: {
    description: {
      required: true,
      type: String,
    },
    src: {
      required: true,
      type: String,
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  img {
    width: $navigationDrawer__header__icon__size;
    height: $navigationDrawer__header__icon__size;
    border-radius: 50%;
  }
</style>
