<template>
  <section id="j__navigation-drawer" class="navigation__drawer" :class="{active: value && modal, closing}">
    <nav :class="{active: value, closing, opening, modal}">
      <slot/>
    </nav>
  </section>
</template>

<script>
// TODO : faire la lumière pour indiquer l'élévation
// TODO : accessibilité supprimé le tab index lorsque fermé
// TODO : bloquer le tab index lorsqu'ouvert

export default {
  name: 'NavigationDrawer',

  props: {
    modal: {
      required: false,
      type: Boolean,
      default: false,
    },
    value: {
      required: false,
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    closing: false,
    opening: false,
  }),

  computed: {
    isStandard () {
      return !this.modal
    },
  },

  watch: {
    value: function () {
      if (this.isStandard) {
        if (this.value) {
          document.body.classList.add('app__drawer__translate')
          document.body.style.overflow = 'hidden'
        } else {
          document.body.classList.remove('app__drawer__translate')
          setTimeout(() => {
            document.body.removeAttribute('style')
          }, 200)
        }
      }

      if (this.modal) {
        if (this.value) {
          document.body.style.overflow = 'hidden'
          let scrim = document.createElement('div')
          scrim.classList.add('navigation__drawer__scrim')
          scrim.addEventListener('click', () => {
            this.$emit('input', false)
          })

          this.$el.insertAdjacentElement('beforeend', scrim)
        } else {
          this.closing = true
          setTimeout(() => {
            this.$el.removeChild(
              this.$el.querySelector('.navigation__drawer__scrim'),
            )
            document.body.style.overflow = 'auto'
            this.closing = false
          }, 200)
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  //Container navigation drawer
  #j__navigation-drawer {
    height: 100vh;
    left: -$navigationDrawer__width;
    position: fixed;
    top: 0;
    width: $navigationDrawer__width;
    z-index: 100;

    &.active, &.closing {
      left: 0;
    }

    // Menu
    > nav {
      background-color: $whitePrimary;
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      transition: left $timing__decelerated-easing $timing-duration__medium__close, box-shadow $timing__decelerated-easing $timing-duration__medium__open;
      top: 0;
      width: 100%;
      z-index: $z-index__navigation-drawer;
      box-sizing: border-box;

      &.modal {
        left: -$navigationDrawer__width;
        transition: left $timing__accelerated-easing $timing-duration__medium__close, box-shadow $timing__accelerated-easing $timing-duration__medium__close;
        box-shadow: $el--16;
      }

      &.active {
        left: 0;
        transition: left $timing__accelerated-easing $timing-duration__medium__open, box-shadow $timing__accelerated-easing $timing-duration__medium__close;
      }
    }
  }

  // Scrim
  section::v-deep {
    .navigation__drawer__scrim {
      background-color: $blackTernary;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity $timing__accelerated-easing $timing-duration__medium__open;
      width: 100vw;
      z-index: $z-index__navigation-drawer-scrim;
    }

    nav.active + .navigation__drawer__scrim {
      opacity: 1;
      transition: opacity $timing__decelerated-easing $timing-duration__medium__close;
    }

    nav.closing + .navigation__drawer__scrim {
      opacity: 0;
    }
  }

  // Dark theme
  .app__theme__dark {
    #j__navigation-drawer {
      > nav {
        background-color: $backgroundDarkBlack;
        color: $whitePrimary;
        position: relative;

        &.modal {
          box-shadow: none;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.16);
        }
      }
    }
  }
</style>
