<template>
  <li :class="{ 'list-item__icon': icon !== null }" @click="onClick">
    <router-link v-if="nav" :to="{ name: url }">
      <j-icon :name="icon" header/>
      {{ text }}
    </router-link>
    <span v-else>
      <j-icon :name="icon" header/>
    {{ text }}
    </span>
  </li>
</template>

<script>
import JIcon from '../../Components/JIcon'

export default {
  name: 'NavigationDrawerSectionListItem',

  components: { JIcon },

  props: {
    active: {
      required: true,
      type: Boolean,
    },
    nav: {
      required: false,
      type: Boolean,
      default: false,
    },
    icon: {
      required: false,
      type: String,
      default: null,
    },
    text: {
      required: true,
      type: String,
    },
    url: {
      required: false,
      type: String,
      default: '',
    },
  },

  watch: {
    active: function () {
      this.switchActiveStatus()
    },
  },

  mounted () {
    this.switchActiveStatus()
  },

  methods: {
    onClick (event) {
      if (this.active) {
        event.target.style.removeProperty('--coordinates-x')
        event.target.style.removeProperty('--coordinates-y')
      } else {
        event.target.style.setProperty('--coordinates-x', `${event.layerX - 25}px`)
        event.target.style.setProperty('--coordinates-y', `${event.layerY - 25}px`)
      }

      const newStatus = !this.active
      this.$emit('update:active', newStatus)
      this.$emit('update', newStatus)
      this.$emit('click')
    },
    switchActiveStatus () {
      if (this.active) {
        this.$el.style.setProperty('--scale-animation', `10`)
        this.$el.style.setProperty('--scale-opacity', `1`)
      } else {
        this.$el.style.removeProperty('--scale-animation')
        this.$el.style.removeProperty('--scale-opacity')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  li {
    list-style: none;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:before {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.12);
      position: absolute;
      transition: transform $timing__accelerated-easing $timing-duration__medium__open, opacity $timing__accelerated-easing $timing-duration__small;
      left: var(--coordinates-x, 0);
      top: var(--coordinates-y, 0);
      z-index: 1;
      opacity: var(--scale-opacity, 0);
      transform: scale(var(--scale-animation, 1));
    }

    i {
      margin-right: 32px;
    }

    span, a {
      padding: 0 $navigationDrawer__padding;
    }

    a {
      display: flex;
      align-items: center;
      color: $blackPrimary;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
  }

  .app__theme__dark {
    li, a {
      color: $whitePrimary
    }
  }
</style>
