<template>
  <section>
    <slot/>
  </section>
</template>

<script>
export default {
  name: 'NavigationDrawerSection',
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  header + section {
    margin-top: 20px;
  }
</style>
