<template>
  <header>
    <section>
      <slot/>
    </section>
    <j-divider/>
  </header>
</template>

<script>
import JDivider from '../../Components/JDivider'

export default {
  name: 'NavigationDrawerHeader',

  components: { JDivider },
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  header {
    height: $navigationDrawer__header__height;

    section {
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-template-rows: $navigationDrawer__header__title__height $navigationDrawer__header__subtitle__height;
      grid-template-areas: "icon title" "icon subtitle" "divider divider";
      grid-column-gap: $navigationDrawer__padding;
      align-items: flex-end;
      padding: 0 $navigationDrawer__padding $navigationDrawer__padding $navigationDrawer__padding;

      img {
        grid-area: icon;
      }

      h2 {
        grid-area: title;
      }

      h3 {
        grid-area: subtitle;
      }
    }
  }
</style>
