<template>
  <ul>
    <navigation-drawer-section-list-item v-for="item in listItem"
                                         :active.sync="item.active"
                                         :key="item.id"
                                         :icon="item.iconName"
                                         :nav="nav"
                                         :text="item.text"
                                         :url="item.url"
                                         @update="onChangeStatus(item)"
                                         @click="$emit('click')"
    />
  </ul>
</template>

<script>
import NavigationDrawerSectionListItem
  from './NavigationDrawerSectionListItem'

export default {
  name: 'NavigationDrawerSectionList',

  components: { NavigationDrawerSectionListItem },

  props: {
    list: {
      required: true,
      type: Array,
    },
    multi: {
      required: false,
      type: Boolean,
      default: false,
    },
    nav: {
      required: false,
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    listItem: [],
  }),

  mounted () {
    this.list.forEach(item => {
      const { icon, active, ...rest } = item
      this.listItem.push({
        ...rest,
        icon: icon === undefined ? null : icon,
        active: active === undefined ? false : active,
      })
    })
  },

  methods: {
    onChangeStatus (itemUpdated) {
      if (!this.multi && itemUpdated.active) {
        this.listItem.forEach(item => {
          if (item.id !== itemUpdated.id) item.active = false
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  ul {
    padding: 0;
  }
</style>
