<template>
  <header id="j__app-bar" class="app__bar"
          :class="[
            color,
            {
            'app-bar__default': color === 'default',
            'app-bar__prominent': prominent && isToTop,
            'app-bar__dense': dense,
            'app-bar__fixed': fixed || (prominent && !isToTop),
            'app-bar__to-bottom': toBottom,
            'app-bar__to-top': isToTop,
          }]"
  >
    <slot/>
  </header>
</template>

<script>
// TODO: bugfix appBar standard
import colorMixin from '../../../Mixins/colorMixin'

export default {
  name: 'AppBar',

  mixins: [colorMixin],

  props: {
    dense: {
      required: false,
      type: Boolean,
      default: false,
    },
    fixed: {
      required: false,
      type: Boolean,
      default: false,
    },
    prominent: {
      required: false,
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    scroll: {
      oldValue: null,
      newValue: null,
    },
  }),

  computed: {
    isToTop () {
      return this.scroll.newValue === null || this.scroll.newValue === 0
    },
    toBottom () {
      return this.scroll.oldValue < this.scroll.newValue
    },
  },

  mounted () {
    window.addEventListener('scroll', () => {
      this.scroll.oldValue = this.scroll.newValue
      this.scroll.newValue = window.scrollY
    })
  },
}
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/variables";

  // General
  header {
    height: 64px;
    padding: 12px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    transition: height $timing-duration__slowly, box-shadow $timing-duration__slowly, background-color $timing-duration__slowly;
    box-shadow: $el--4;

    &.app-bar__prominent {
      height: 128px;
      padding-bottom: 28px;
    }

    &.app-bar__dense {
      height: 48px;
      padding: 12px;

      &.app-bar__prominent {
        height: 96px;
        padding-bottom: 20px;
      }
    }

    &.app-bar__fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    &.app-bar__default.app-bar__to-top {
      box-shadow: none;
    }

    &:not(.app-bar__fixed) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      &.app-bar__to-bottom {
        top: -64px;
        box-shadow: none;
      }
    }
  }

  // Dark
  .app__theme__dark {
    header {
      background-color: #121212;
      color: white;
      box-shadow: none;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.07);
      }
    }
  }

  // Elements
  header {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    grid-template-areas: "appBarMainIcon title appBarActions";

    .app-bar__main__icon {
      grid-area: appBarMainIcon;
    }

    .app-bar__main__title {
      grid-area: title;
    }

    &.app-bar__prominent {
      .app-bar__main__title {
        top: calc(100% - 20px);
      }
    }

    .app-bar__main__actions {
      grid-area: appBarActions;
    }
  }
</style>
