<template>
  <h6 class="app-bar__main__title">
    <slot/>
  </h6>
</template>

<script>
export default {
  name: 'AppBarTitle',
}
</script>

<style lang="scss" scoped>
  h6 {
    font-size: 20px;
    margin: 0 32px;
    transition: top cubic-bezier(.4, 0, .2, 1) 500ms;
    position: relative;
    top: calc(50% - 10px);
    height: 20px;
  }
</style>
