<template>
  <j-button icon mini class="app-bar__main__icon" @click="$emit('click', $event)">
    <j-icon name="menu" header/>
  </j-button>
</template>

<script>
import JIcon from '../../Components/JIcon'
import JButton from '../../Components/JButton'

export default {
  name: 'AppBarMainIcon',

  components: { JButton, JIcon },
}
</script>

<style lang="scss" scoped>

</style>
